.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .form-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #053247d7;
    box-shadow: var(--third-color) 0px 50px 100px -20px,
      var(--second-color) 0px 30px 60px -30px,
      var(--first-color) 0px -2px 6px 0px inset;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        text-transform: uppercase;
        text-align: center;
        background: -webkit-linear-gradient(
          var(--first-color),
          var(--second-color)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: var(--third-color) 0px 50px 100px -20px,
          var(--second-color) 0px 30px 60px -30px,
          var(--first-color) 0px -2px 6px 0px inset;
      }

      .mail {
        background: -webkit-linear-gradient(
          var(--first-color),
          var(--second-color)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 1rem;
        font-size: 2rem;
      }
    }

    .inside-form-box {
      margin-top: 3rem;

      .email {
        padding-bottom: 2rem;
        width: 320px;

        ::placeholder {
          color: var(--first-color);
          opacity: 1;
        }

        .form-control {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid var(--first-color);
          border-top: 0px;
          font-weight: bold;
          outline: 0;
          margin-bottom: 20px;
          padding-left: 0px;
          text-shadow: var(--third-color) 0px 50px 100px -20px,
            var(--second-color) 0px 30px 60px -30px,
            var(--first-color) 0px -2px 6px 0px inset;
          width: 100%;
          color: var(--fourth-color);
        }
      }
    }

    .btn {
      background-color: var(--third-color);
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
      outline: none;
      width: 50%;
      margin-left: 25%;
      border: 2px solid var(--first-color);
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: var(--third-color) 0px 50px 100px -20px,
        var(--second-color) 0px 30px 60px -30px,
        var(--second-color) 0px -2px 6px 0px inset;
      color: var(--fourth-color);
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      font-size: 12px;
    }

    .btn:hover {
      color: var(--first-color);
      border: 2px solid var(--first-color);
      font-weight: bold;
      background-color: transparent;
      box-shadow: var(--third-color) 0px 50px 100px -20px,
        var(--second-color) 0px 30px 60px -30px,
        var(--first-color) 0px -2px 6px 0px inset;
    }
  }
  .back-btn {
    margin: 1rem;
    color: var(--first-color);
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .back-btn:hover {
    color: var(--fourth-color);
  }
  .text-start {
    color: var(--fourth-color);
    font-size: 10px;
  }
}
