@import "./Login.scss";
@import "./Forgot.scss";

// position: absolute;
// top: 50%;
// left: 50%;
// transform: translate(-50%, -50%);

body * {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./rBjn7e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 50%;
  font-family: "Roboto", sans-serif;
}
