@import "./Login.scss";

// position: absolute;
// top: 50%;
// left: 50%;
// transform: translate(-50%, -50%);

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(#354a54, #50b3db);
  height: 100vh;
}
