@import "./Login.scss";
@import "./Forgot.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: url(./cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
