:root {
  --first-color: #00d8e4;
  --second-color: #065a84;
  --third-color: #053247;
  --fourth-color: #ffffff;
}

.general {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #051724d7;
    box-shadow: 0 0 10px 5px var(--first-color);

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .user {
        background: -webkit-linear-gradient(
          var(--first-color),
          var(--second-color)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: -3rem;
        font-size: 2rem;
      }

      h1 {
        text-transform: uppercase;
        text-align: center;
        background: -webkit-linear-gradient(
          var(--first-color),
          var(--second-color)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: var(--third-color) 0px 50px 100px -20px,
          var(--second-color) 0px 30px 60px -30px,
          var(--first-color) 0px -2px 6px 0px inset;
      }
    }
    .inside-form {
      display: flex;
      flex-direction: column;
      margin-top: -8rem;

      .username {
        padding-bottom: 1rem;

        ::placeholder {
          color: var(--first-color);
          opacity: 1;
        }

        .form-control {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid var(--first-color);
          border-top: 0px;
          font-weight: bold;
          outline: 0;
          margin-bottom: 20px;
          padding-left: 0px;
          text-shadow: var(--third-color) 0px 50px 100px -20px,
            var(--second-color) 0px 30px 60px -30px,
            var(--first-color) 0px -2px 6px 0px inset;
          width: 100%;
          color: var(--fourth-color);
        }
      }
      .section {
        padding-bottom: 3rem;

        ::placeholder {
          color: var(--first-color);
          opacity: 1;
        }

        .form-control {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid var(--first-color);
          border-top: 0px;
          font-weight: bold;
          outline: 0;
          margin-bottom: 20px;
          padding-left: 0px;
          color: var(--fourth-color);
          width: 300px;
        }

        button {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid var(--first-color);
          border-top: 0px;
          border-radius: 0px;
          font-weight: bold;
          outline: 0;
          margin-bottom: 20px;
          padding-left: 0px;
          color: var(--fourth-color);
          font-size: 15px;
        }
        .combined {
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;

          .remember {
            padding: 1rem 0;
            input {
              width: 20px;
              height: 20px;
              cursor: pointer;
              margin-left: -11px;
              margin-right: 16px;
              vertical-align: middle;
            }
            label {
              color: var(--first-color);
              cursor: pointer;
              font-size: 12px;
              vertical-align: middle;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        .forgot {
          color: var(--first-color);
          padding-left: 1rem;
          font-size: 12px;
          vertical-align: auto;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        .forgot:hover {
          color: var(--fourth-color);
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }
      }
    }
    .signIn {
      background-color: var(--third-color);
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
      outline: none;
      width: 50%;
      margin-left: 25%;
      border: 2px solid var(--first-color);
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: var(--third-color) 0px 50px 100px -20px,
        var(--second-color) 0px 30px 60px -30px,
        var(--second-color) 0px -2px 6px 0px inset;
      color: var(--fourth-color);
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      font-size: 12px;
    }
    .signIn:hover {
      color: var(--first-color);
      border: 2px solid var(--first-color);
      font-weight: bold;
      background-color: transparent;
      box-shadow: var(--third-color) 0px 50px 100px -20px,
        var(--second-color) 0px 30px 60px -30px,
        var(--first-color) 0px -2px 6px 0px inset;
    }
  }
  .invalid-feedback {
    color: var(--fourth-color);
    font-size: 10px;
    margin-top: -1rem;
  }
}
