.general {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    margin: 50px auto;
    border-radius: 5px;
    background: linear-gradient(#00d8e4, #053247, #065a84);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .user {
        background: -webkit-linear-gradient(#053247, #065a84);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: -3rem;
        font-size: 2rem;
      }

      h1 {
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(#053247, #065a84);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
    .inside-form {
      display: flex;
      flex-direction: column;
      margin-top: -8rem;

      .username {
        padding-bottom: 1rem;

        ::placeholder {
          color: #e4f2ff;
          opacity: 0.5;
        }

        .form-control {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #00d8e4;
          border-top: 0px;
          font-weight: bold;
          outline: 0;
          margin-bottom: 20px;
          padding-left: 0px;
          color: #e4f2ff;
          width: 100%;
        }
      }
      .section {
        padding-bottom: 3rem;

        ::placeholder {
          color: #e4f2ff;
          opacity: 0.5;
        }

        .form-control {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #00d8e4;
          border-top: 0px;
          font-weight: bold;
          outline: 0;
          margin-bottom: 20px;
          padding-left: 0px;
          color: #e4f2ff;
          width: 300px;
        }

        button {
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #00d8e4;
          border-top: 0px;
          border-radius: 0px;
          font-weight: bold;
          outline: 0;
          margin-bottom: 20px;
          padding-left: 0px;
          color: #00d8e4;
          font-size: 15px;
        }
        .combined {
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;

          .remember {
            padding: 1rem 0;
            input {
              width: 20px;
              height: 20px;
              cursor: pointer;
              margin-left: -11px;
              margin-right: 16px;
              vertical-align: middle;
            }
            label {
              color: #00d8e4;
              cursor: pointer;
              font-size: 12px;
              vertical-align: middle;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        .forgot {
          color: #00d8e4;
          padding-left: 1rem;
          font-size: 12px;
          vertical-align: auto;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        .forgot:hover {
          color: #e4f2ff;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .signIn {
      background-color: #053247;
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
      outline: none;
      width: 50%;
      margin-left: 25%;
      border: 2px solid #00d8e4;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      color: #e4f2ff;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      font-size: 12px;
    }
    .signIn:hover {
      color: #0a0a0a;
      border: 2px solid #00d8e4;
      font-weight: bold;
      background-color: #00d8e4;
      box-shadow: 0px 10px 13px -6px rgb(0 0 0 / 20%),
        0px 20px 31px 3px rgb(0 0 0 / 14%), 0px 8px 38px 7px rgb(0 0 0 / 12%);
    }
  }
  .invalid-feedback {
    color: #00d8e4;
    font-size: 10px;
    margin-top: -1rem;
  }
}
