.general {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10rem;

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 350px;
    height: 450px;
    margin: 50px auto;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: 0px 10px 13px -6px rgb(0 0 0 / 20%),
      0px 20px 31px 3px rgb(0 0 0 / 14%), 0px 8px 38px 7px rgb(0 0 0 / 12%);

    .header {
      margin-bottom: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .user {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #e4f2ff;
        padding: 1rem;
        height: 10px;
        width: 10px;
        border-radius: 2rem;
        color: #50b3db;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: all 0.3s ease-in-out;
      }
      h1 {
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        text-align: center;
      }
    }
    .inside-form {
      display: flex;
      flex-direction: column;
      margin-top: -9rem;

      .username {
        padding-bottom: 1rem;

        .form-control {
          background-color: #e4f2ff;
          border: 1px solid #e4f2ff;
          border-radius: 1rem;
          height: 2rem;
          width: 300px;
          outline: none;
          box-shadow: 0px 10px 13px -6px rgb(0 0 0 / 20%),
            0px 20px 31px 3px rgb(0 0 0 / 14%),
            0px 8px 38px 7px rgb(0 0 0 / 12%);
          color: #354a54;
          font-weight: 600;
          padding-left: 1rem;
        }
      }
      .section {
        padding-bottom: 1rem;

        .form-control {
          background-color: #e4f2ff;
          border: 1px solid #e4f2ff;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          height: 2rem;
          width: 250px;
          outline: none;
          box-shadow: 0px 10px 13px -6px rgb(0 0 0 / 20%),
            0px 20px 31px 3px rgb(0 0 0 / 14%),
            0px 8px 38px 7px rgb(0 0 0 / 12%);
          color: #354a54;
          font-weight: 600;
          padding-left: 1rem;
        }
        button {
          background-color: #50b3db;
          border: 1px solid #e4f2ff;
          box-shadow: 0px 10px 13px -6px rgb(0 0 0 / 20%),
            0px 20px 31px 3px rgb(0 0 0 / 14%),
            0px 8px 38px 7px rgb(0 0 0 / 12%);
          height: 2rem;
          outline: none;
          color: #121212;
          width: 50px;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
        }
        .combined {
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;

          .remember {
            padding: 1rem 0;
            input {
              width: 20px;
              height: 20px;
              cursor: pointer;
              margin-left: -11px;
              margin-right: 16px;
              vertical-align: middle;
            }
            label {
              color: #ffffff;
              cursor: pointer;
              font-size: 18px;
              vertical-align: middle;
            }
            label:hover {
              text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
          }
        }
        .forgot {
          color: #354a54;
          padding-left: 1rem;
          font-size: 18px;
          vertical-align: auto;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        .forgot:hover {
          color: #e4f2ff;
        }
      }
    }
    .signIn {
      background: linear-gradient(#e4f2ff, #50b3db);
      border-radius: 0.5rem;
      height: 2rem;
      width: 100%;
      outline: none;
      border: none;
      color: #354a54;
      text-transform: uppercase;
      font-weight: 600;
      padding-left: 1rem;
      text-transform: uppercase;
      box-shadow: 0px 10px 13px -6px rgb(0 0 0 / 20%),
        0px 20px 31px 3px rgb(0 0 0 / 14%), 0px 8px 38px 7px rgb(0 0 0 / 12%);
      transition: all 0.5s ease-in-out;
      font-weight: 800;
    }
    .signIn:hover {
      color: #e4f2ff;
      background: linear-gradient(#50b3db, #354a54);
      box-shadow: 0px 10px 13px -6px rgb(0 0 0 / 20%),
        0px 20px 31px 3px rgb(0 0 0 / 14%), 0px 8px 38px 7px rgb(0 0 0 / 12%);
    }
  }
  .invalid-feedback {
    color: #50b3db;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
}
.back-button {
  color: #e4f2ff;
  background: linear-gradient(#50b3db, #354a54);
  padding: 0.4rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-size: 15px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.5s ease-in-out;
  margin-top: -7rem;
}
.back-button:hover {
  background: linear-gradient(#e4f2ff, #50b3db);
  color: #354a54;
  transition: all 0.5s ease-in-out;
}
h2 {
  text-transform: uppercase;
  color: #e4f2ff;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}
